<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="MemoGameDataBaseConnectionString" connectionString="Data Source=DAWID-KOMPUTER\SQLEXPRESS;Initial Catalog=MemoGameDataBase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="MemoGameDataBaseConnectionString2" connectionString="Data Source=DAWID-KOMPUTER;Initial Catalog=MemoGameDataBase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="MsSqlOnlineDataBase" connectionString="Data Source=mssql4.gear.host;Initial Catalog=memogamedatabase;Persist Security Info=True;User ID=DawidMonka;Password=DawidMonka!;Connect Timeout=30"
  providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
