<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="server=mysql3.gear.host;user id=ememodbmysql; database=ememodbmysql; password=eMemo!" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

</configuration>
