<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MemoGameDataBaseConnectionString2" connectionString="Data Source=DAWID-KOMPUTER;Initial Catalog=MemoGameDataBase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="MySqlLocalDataBase" connectionString="server=localhost;user id=root; password=Demby88!; database=memogamedatabase"/>
    <add name="MySqlConnectionString" connectionString="server=mysql3.gear.host;user id=ememodbmysql;database=ememodbmysql;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration> 